<?xml version="1.0" encoding="UTF-8"?>
<launch>

<include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find projet)/worlds/Projet2024_og.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>


 <!-- Spwan turtlebot in Gazebo -->

<param name="robot_description" command="$(find xacro)/xacro $(find projet)/urdf/turtlebot3.urdf.xacro " />

<node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model turtlebot3_burger -x 0.87 -y -1.74 -z 0.0 -Y 0 -param robot_description" />



<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
<include file="$(find projet)/launch/simu_process.launch"/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>


<node name="lidar_process" pkg="projet" type="lidar_process.py"/>

<node name="camera_info" pkg="projet" type="camera_calib.py"/>

<param name="camera_calib" value="$(find projet)/calib/raspicam.yaml" />

<node pkg="image_proc" type="image_proc" name="image_proc" output="screen">
    <remap from="image_raw" to="camera/image"/>
    <remap from="camera_info" to="camera/camera_info_correct"/>
    
  </node>




<!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find projet/rviz/turtlebot.rviz"/> -->

</launch>
