<?xml version="1.0" encoding="UTF-8"?>
<launch>



<param name="robot_description" command="$(find xacro)/xacro $(find projet)/urdf/turtlebot3.urdf.xacro " />

<node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model turtlebot3_burger -x 0.87 -y -1.74 -z 0.0 -Y 0 -param robot_description" />



<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

<rosparam command="load" file="$(find projet)/calib/simu_colours.yaml" />
<rosparam command="load" file="$(find projet)/calib/last_sim_colours.yaml" />


<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>


<node name="lidar_process" pkg="projet" type="lidar_process.py"/>

<node name="camera_info" pkg="projet" type="camera_calib.py"/>

<param name="camera_calib" value="$(find projet)/calib/raspicam.yaml" />

<node pkg="image_proc" type="image_proc" name="image_proc" output="screen">
    <remap from="image_raw" to="camera/image"/>
    <remap from="camera_info" to="camera/camera_info_correct"/>
    
  </node>

<node pkg="projet" type="TurtleBotController.py" name="TurtleBotController" output="screen"/>


</launch>
