<?xml version="1.0" encoding="UTF-8"?>
<launch>


<rosparam command="load" file="$(find projet)/calib/simu_colours.yaml" />
<rosparam command="load" file="$(find projet)/calib/last_sim_colours.yaml" />


<!-- <node name="process_image" pkg="projet" type="process.py"/> -->


<!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find projet/rviz/turtlebot.rviz"/> -->

</launch>
